.descriptionbox {
    margin: 120px 170px;
}

.descriptionbox-navigator {
    display: flex;
}

.descriptionbox-nav-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
}

.descriptionbox-nav-box fade {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #D0D0D0;
    padding: 48px;
    padding-bottom: 70px;
}

/* Media queries para dispositivos móveis */
@media (max-width: 1280px) {
    .descriptionbox {
        margin: 100px 140px;
    }
}

@media (max-width: 1024px) {
    .descriptionbox {
        margin: 80px 100px;
    }

    .descriptionbox-nav-box {
        width: 150px;
        height: 60px;
        font-size: 15px;
    }
}

@media (max-width: 800px) {
    .descriptionbox {
        margin: 60px 60px;
    }

    .descriptionbox-nav-box {
        width: 130px;
        height: 50px;
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .descriptionbox {
        margin: 40px 40px;
    }

    .descriptionbox-nav-box {
        width: 110px;
        height: 40px;
        font-size: 13px;
    }
}
