.item {
    width: 350px;
}

.item p {
    margin: 6px 0px;
}

.item-prices {
    display: flex;
    gap: 20px;
}

.item-price-new {
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.item-price-old {
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}

/* Media queries para dispositivos móveis */
@media (max-width: 1280px) {
    .item {
        width: 300px;
    }

    .item-price-new,
    .item-price-old {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .item {
        width: 250px;
    }

    .item-price-new,
    .item-price-old {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .item {
        width: 200px;
    }

    .item-price-new,
    .item-price-old {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .item {
        width: 150px;
    }

    .item-price-new,
    .item-price-old {
        font-size: 10px;
    }
}
