.offers {
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #e1f4ff 0%, #e1ffea22 60%);
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1 {
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}

.offers-left p {
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}

.offers-left button {
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 30px;
    cursor: pointer;
}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}

.offers-right img {
    width: 450px;
}

/* Media queries para dispositivos móveis */
@media (max-width: 1280px) {
    .offers-left h1 {
        font-size: 70px;
    }

    .offers-left p {
        font-size: 20px;
    }

    .offers-left button {
        width: 262px;
        height: 65px;
        font-size: 20px;
    }

    .offers {
        padding: 0px 120px;
    }
}

@media (max-width: 1024px) {
    .offers-left h1 {
        font-size: 60px;
    }

    .offers-left p {
        font-size: 18px;
    }

    .offers-left button {
        width: 242px;
        height: 60px;
        font-size: 18px;
    }

    .offers {
        padding: 0px 100px;
    }
}

@media (max-width: 800px) {
    .offers-left h1 {
        font-size: 50px;
    }

    .offers-left p {
        font-size: 16px;
    }

    .offers-left button {
        width: 222px;
        height: 55px;
        font-size: 16px;
    }

    .offers {
        padding: 0px 80px;
    }

    .offers-right img {
        width: 350px;
    }
}

@media (max-width: 500px) {
    .offers-left h1 {
        font-size: 40px;
    }

    .offers-left p {
        font-size: 14px;
    }

    .offers-left button {
        width: 202px;
        height: 50px;
        font-size: 14px;
    }

    .offers {
        padding: 0px 60px;
    }

    .offers-right img {
        width: 250px;
    }
}
